<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Панель</title>

    <link rel="stylesheet" th:href="@{/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.bundle.min.js}" async></script>
</head>
<body class="vh-100 d-flex flex-column">

<header class="navbar navbar-dark bg-dark sticky-top">
    <nav class="container-fluid px-4">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" th:href="@{/}">
                <i class="h2 bi bi-house-door"></i>
            </a>
            <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">
                <i class="bi bi-person-workspace"></i>
                Админ
            </a>
        </div>

        <span class="flex-grow-1 px-3 text-light text-end" sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>

        <div class="dropdown" sec:authorize="isAuthenticated()">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                Аккаунт
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" th:href="@{/user}">
                        <i class="bi bi-person"></i>
                        Профиль
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form th:method="post" th:action="@{/logout}">
                        <button class="dropdown-item" type="submit">
                            <i class="bi bi-box-arrow-right"></i>
                            Выйти
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        <a class="btn btn-light" th:href="@{/login}" sec:authorize="!isAuthenticated()">
            <i class="bi bi-person"></i>
            Войти
        </a>
    </nav>
</header>

<!-- SIDEBAR -->
<div class="d-flex flex-fill">
    <!--  Side Links  -->
    <div style="min-width: 240px;" class="nav flex-column nav-pills p-2 pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">
            <i class="bi-person-workspace me-2"></i>
            Администрирование
        </a>
        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <i class="bi bi-person-circle me-2"></i>
            Профиль
        </a>
    </div>

    <!-- Content  -->
    <div style="background-color: var(--bs-gray-100);" class="flex-grow-1 tab-content p-4" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab" tabindex="0">

            <!-- ADMIN PANEL -->
            <h2 class="mb-4">Панель администратора</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="true">
                        Список
                    </button>
                    <button class="nav-link" id="nav-new-user-tab" data-bs-toggle="tab" data-bs-target="#nav-new-user" type="button" role="tab" aria-controls="nav-new-user" aria-selected="false">
                        Новый
                    </button>
                </div>
            </nav>
            <div class="p-4 border border-top-0 bg-white tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab" tabindex="0">
                    <h4 class="mb-4">Список пользователей</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <th scope="row" th:text="${user.getId()}"></th>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getAge()}"></td>
                            <td th:text="${user.getRole()} ? ${user.getRole().name()} : 'null'"></td>
                            <td th:text="${user.isEnabled()} ? 'Активен' : 'Забанен'"></td>
                            <td>
                                <button data-bs-toggle="modal" th:data-bs-target="'#updatedUserModal' + ${user.getId()}" type="button" class="btn btn-success btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button data-bs-toggle="modal" th:data-bs-target="'#deletingUserModal' + ${user.getId()}" class="btn btn-danger btn-sm" type="button">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- NEW USER FORM -->
                <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab" tabindex="0">
                    <h4 class="mb-4 text-center">Новый пользователь</h4>
                    <form th:method="post" th:action="@{/admin/new}" th:object="${newUser}"
                            style="max-width: 320px;" class="m-auto">
                        <div class="form-floating mb-3">
                            <input th:field="*{name}" type="text" class="form-control" id="newUserName" placeholder="Введите имя">
                            <label for="newUserName">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{age}" type="number" class="form-control" id="newUserAge" placeholder="0">
                            <label for="newUserAge">Возраст</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{email}" type="email" class="form-control" id="newUserEmail" placeholder="name@example.com">
                            <label for="newUserEmail">Почта</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{password}" type="password" class="form-control" id="newUserPassword"
                                   placeholder="Password">
                            <label for="newUserPassword">Пароль</label>
                        </div>
                        <div class="form-floating mb-4">
                            <select th:field="*{role}" class="form-select" id="newUserRole" aria-label="Floating label select example">
                                <option th:value="null" th:text="null" selected></option>
                                <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
                            </select>
                            <label for="newUserRole">Роль</label>
                        </div>
                        <div class="form-check mb-5">
                            <input th:field="*{enabled}" class="form-check-input" type="checkbox" id="newUserStatus">
                            <label class="form-check-label" for="newUserStatus">
                                Активировать
                            </label>
                        </div>
                        <button type="submit" class="w-100 btn btn-success">Добавить</button>
                    </form>
                </div>
            </div>

        </div>

        <!-- PROFILE -->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <h2 class="mb-4">Информация об аккаунте</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-profile" role="tablist">
                    <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="true">
                        Мой аккаунт
                    </button>
                </div>
            </nav>
            <div class="p-4 border border-top-0 bg-white tab-content" id="nav-infoTabContent">
                <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-list-tab" tabindex="0">
                    <h4 class="mb-4">Регистрационные данные</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" th:text="${currentUser.getId()}"></th>
                            <td th:text="${currentUser.getEmail()}"></td>
                            <td th:text="${currentUser.getName()}"></td>
                            <td th:text="${currentUser.getAge()}"></td>
                            <td th:text="${currentUser.getRole()} ? ${currentUser.getRole().name()} : 'null'"></td>
                            <td th:text="${currentUser.isEnabled()} ? 'Активен' : 'Забанен'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- EDITING MODALS -->
<div th:each="user : ${users}" th:id="${'updatedUserModal' + user.getId()}" th:aria-labelledby="${'updatedUserModalLabel' + user.getId()}" class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form th:method="patch" th:action="@{'/admin/edit/' + ${user.getId()}}" th:object="${updatedUser}" class="modal-content">
            <div class="modal-header">
                <h5 th:id="${'updatedUserModalLabel' + user.getId()}" class="modal-title">Редактирование пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div class="form-floating mb-3">
                    <input name="name" th:value="${user.getName()}" th:id="${'updatedUserName' + user.getId()}" type="text" class="form-control" placeholder="Введите имя">
                    <label th:for="${'updatedUserName' + user.getId()}">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="age" th:value="${user.getAge()}" th:id="${'updatedUserAge' + user.getId()}" type="number" class="form-control" placeholder="0">
                    <label th:for="${'updatedUserAge' + updatedUser.getId()}">Возраст</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="email" th:value="${user.getEmail()}" th:id="${'updatedUserEmail' + user.getId()}" type="email" class="form-control" placeholder="name@example.com">
                    <label th:for="${'updatedUserEmail' + user.getId()}">Почта</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="password" th:id="${'updatedUserPassword' + user.getId()}" type="password" class="form-control" placeholder="Password">
                    <label th:for="${'updatedUserPassword' + user.getId()}">Пароль</label>
                </div>
                <div class="form-floating mb-4">
                    <select name="role" th:id="${'updatedUserRole' + user.getId()}" class="form-select" aria-label="Floating label select example">
                        <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}" th:selected="${role.name().equals(user.getRole().name)}"></option>
                    </select>
                    <label th:for="${'updatedUserRole' + user.getId()}">Роль</label>
                </div>
                <div class="form-check mb-4">
                    <input name="enabled" th:checked="${user.isEnabled()}" th:id="${'updatedUserStatus' + user.getId()}" class="form-check-input" type="checkbox">
                    <label th:for="${'updatedUserStatus' + user.getId()}" class="form-check-label">
                        Активный
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<!-- DELETING MODAL -->
<div th:each="user : ${users}" th:id="${'deletingUserModal' + user.getId()}" th:aria-labelledby="${'deletingUserModalLabel' + user.getId()}" class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form th:method="delete" th:action="@{'/admin/' + ${user.getId()}}" class="modal-content">
            <div class="modal-header">
                <h5 th:id="${'deletingUserModalLabel' + user.getId()}" class="modal-title">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div class="form-floating mb-3">
                    <input disabled th:value="${user.getId()}" th:id="${'deletingUserId' + user.getId()}" type="text" class="form-control" placeholder="Введите имя">
                    <label th:for="${'deletingUserId' + user.getId()}">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled th:value="${user.getName()}" th:id="${'deletingUserName' + user.getId()}" type="text" class="form-control" placeholder="Введите имя">
                    <label th:for="${'deletingUserName' + user.getId()}">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled th:value="${user.getAge()}" th:id="${'deletingUserAge' + user.getId()}" type="number" class="form-control" placeholder="0">
                    <label th:for="${'deletingUserAge' + updatedUser.getId()}">Возраст</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled th:value="${user.getEmail()}" th:id="${'deletingUserEmail' + user.getId()}" type="email" class="form-control" placeholder="name@example.com">
                    <label th:for="${'deletingUserEmail' + user.getId()}">Почта</label>
                </div>
                <div class="form-floating mb-4">
                    <select disabled th:id="${'deletingUserRole' + user.getId()}" class="form-select" aria-label="Floating label select example">
                        <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}" th:selected="${role.name().equals(user.getRole().name)}"></option>
                    </select>
                    <label th:for="${'deletingUserRole' + user.getId()}">Роль</label>
                </div>
                <div class="form-check mb-4">
                    <input disabled th:checked="${user.isEnabled()}" th:id="${'deletingUserStatus' + user.getId()}" class="form-check-input" type="checkbox">
                    <label th:for="${'deletingUserStatus' + user.getId()}" class="form-check-label">
                        Активный
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
