<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel="stylesheet" th:href="@{/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.bundle.min.js}" async></script>
</head>
<body>

<header class="navbar navbar-dark bg-dark sticky-top">
    <nav class="container-fluid px-4">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" th:href="@{/}">
                <i class="h2 bi bi-house-door"></i>
            </a>
            <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">
                <i class="bi bi-person-workspace"></i>
                Админ
            </a>
        </div>

        <span class="flex-grow-1 px-3 text-light text-end" sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>

        <div class="dropdown" sec:authorize="isAuthenticated()">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                Аккаунт
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" th:href="@{/user}">
                        <i class="bi bi-person"></i>
                        Профиль
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form th:method="post" th:action="@{/logout}">
                        <button class="dropdown-item" type="submit">
                            <i class="bi bi-box-arrow-right"></i>
                            Выйти
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        <a class="btn btn-light" th:href="@{/login}" sec:authorize="!isAuthenticated()">
            <i class="bi bi-person"></i>
            Войти
        </a>
    </nav>
</header>

<h1 class="p-5 text-center">Добро пожаловать!</h1>

<!-- Alert -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<div class="container">
    <div class="row row-cols-auto justify-content-center">

        <div sec:authorize="!isAuthenticated()" class="col alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-4" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>
                <h5>Внимание!</h5>
                Для использования сервиса необходима действующая учетная запись созданная администратором.
            </div>
        </div>

        <div sec:authorize="isAuthenticated()" class="col alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-4" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"/>
            </svg>
            <div>
                <h5>Учетная запись активна</h5>
                <span th:text="${currentUser.getName() + ', ' + currentUser.getRole().name()}"></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>
